:root {
    --Soft-Blue: hsl(231, 69%, 60%);
}

.card {
    max-width: 25%;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
    .button {
        background-color: var(--Soft-Blue);
        border: 2px solid var(--Soft-Blue);
        color: white;
        &:hover {
            cursor: pointer;
            color: var(--Soft-Blue);
            background-color: white;
        }
    }
}