:root {
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

.contactContainer {
    background-color: var(--Soft-Blue);
    margin: 0;
    width:auto;
    height: 20rem;
    color: white;

    p {
        letter-spacing: 4px;
        font-size: 14px;
    }

    h3 {
        width: 370px;
        margin-inline: auto;
        margin-bottom: 0;
    }

    .form {
        div {
            margin: 0 auto;

            .bginvalidEmail {
                background-color: var(--Soft-Red);
            }

            .mail {
                border: 2px solid var(--Soft-Blue);

                &:focus {
                    outline: none;
                    border-color: var(--Soft-Red);
                }

                &::placeholder {
                    color: var(--Grayish-Blue);
                    font-size: 14px;
                }
            }
        }

        .button {
            height: 50%;
            background-color: var(--Soft-Red);
            border: 2px solid var(--Soft-Red);
            color: white;

            &:hover {
                cursor: pointer;
                color: var(--Soft-Red);
                background-color: white;
            }
        }
    }
}