:root {
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
}

.faqContainer {
    margin: 15rem auto 10rem auto;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .faqDescription {
        color: var(--Grayish-Blue);
        margin-bottom: 3rem;
    }

    .acordionContainer {
        border-top: 1px solid rgba(201, 196, 196, 0.411);
        border-bottom: 1px solid rgba(201, 196, 196, 0.411);
        width: 100%;
        div {
            background-color: white;
            button {
                font-weight: 500;

                &:hover {
                    color: var(--Soft-Red);
                }
                &:focus {
                    background-color: white;
                    box-shadow: none;
                    color: black;
                }
            }
            .textAcordionItem {
                color: var(--Grayish-Blue);
            }
        }
    }
    .button {
        margin-top: 3rem;
        max-width: 125px;
        background-color: var(--Soft-Blue);
        border: 2px solid var(--Soft-Blue);
        color: white;
        &:hover {
            cursor: pointer;
            color: var(--Soft-Blue);
            background-color: white;
        }
    }
}